body {
    margin: 0px;
    padding-top: 10px;
}

#welcome {
    background: linear-gradient(#eb344f, #99eb34);

    height: 800p%;
    width: 100%;

    text-align: center;
    z-index: 1;
}

.ph1 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}
.menu{
    list-style: none;
    font-family: cursive;
    position:sticky;
    top:30px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
}
.link{
    float:left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.link:hover{
    background-color:cyan;
}
#name{
    font-family: 'Lobster', cursive; 
}
h2{
    font-family: 'Lobster', cursive;
}
p{
    line-height: 1.2;
}
a{
    text-decoration: none;
}
.article:hover{
    color: black;
}
html{
    scroll-behavior: smooth;
    
    
}








